xsd/parser_test/3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/SATRQT_07_1_1A" xmlns="http://xml.amadeus.com/SATRQT_07_1_1A" elementFormDefault="qualified">
  <xs:complexType name="AirlineOptionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of some airline or flight option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIdentification" minOccurs="0" maxOccurs="6" type="FullFlightIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline / Flight option. The request may contain up to 6 preferred or excluded airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="excludeAirlineIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline exclusion</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityOptionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the options of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productTypeDetails" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the availability type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="optionInfo" minOccurs="0" maxOccurs="13" type="SelectionDetailsInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productAvailability" minOccurs="0" maxOccurs="5" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product Availability option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfAircraft" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">UN/IATA code identifying type of aircraft</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF4505896726817067850633B2DB04EB28E723360D0E2D81E9422550E15441BE4BF7728C9DBECA1E82E6018F341CDC77B6F6E56B7AB6D59AD96FBBB5B7595175733FE5D15721DD0E85E16F9A2F86371F551DE6CAA0F79BEC873516ECAD8B7406BB4E074038A03FBCF9AB0AE52387B26230E9AE09673D4EA1AD439C676319F3F3736D38D36D05156FB662E0E9D33169618D49C204674279A1BAC49D467A8BF3DF07FA3550C1D88DA1BE027A49C77C96B1A70EC4DB9A6D5AE4FED94EBACE540DB073C9DA37A578EEDE47DF06D40883AF4523B23AFBD3BA2E11AA8ADFCEA8E3E343AA2770BD939DDC5B30FF83718D9110CCF0D526D3D750124C58075B4BDE46F0E68B8462619B65CCEE4A519653AA3E45B2BB7690E925B9E3E3C81C9DE090347DDD97813DA049751476D0984F1DDC1C2037CEFC0D570AF637D9E32E03EFF2730C1FD7CF392087ADDBF3C4120DE8AAD0016B80C5BFAC41DFA577164FAB69D65CC7C6272F0073A878F93F59B02D6D7DA4E905B7F324CE372B1FBB22A97BB95C1A3AE63E5BDA5DDAADA2F91A276F19A9962FE98B9DD46876F90181FDFD0C035EDFEF427AEE54EC32068EE9CED4503E104131883BD46B0861E7C88FFC0C78B13CF5552C2F4DFB125B38E76528EFB5F10B51E5DBC8538D231882D781FDF2034F849C0991857488852BAA37C9E17538CD63E9416B9F6A4D8A405AC8196AC24EECDA21C51A4468798EA3E3AAC31F6D32231684776D027E3A3186B9A4F95AB72337F316091D7D02CA0D78CB3228D67DE9E0F8BE5FA7233634D8E0C500D978CAE16CF64E35D17DB2EAEBD3510540A08319B6D4618DF93C49F77329B8911245594E24D7F55DE97FB12C3BE28346BBAD1E8D4435909786E99AEBDA6FD7275A3AAEDE3EA428FD401B4FA7471D3EBED5F9568F91C90CE4CF008FBC88D2AD87AC244189B032E7A8050A59E1B3E2B2C9F986D7D40CBF8890B4FBF484FDCABFC93F801ED646ED607050000
-->

