xsd/tree_parser/test_data/include_inner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions"
            elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.000" id="IATA2016.2">
    <xsd:element name="PointOfSale" type="PointOfSaleType">
    </xsd:element>
    <xsd:complexType name="PointOfSaleType">
        <xsd:sequence>
            <xsd:element name="Location" minOccurs="0" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>